/************************************************************MY Files**********************************************************************/

.block
{
  display: inline-block;
}
.Chart
{
  justify-content: center;
  width: 100%;
  display: table;

}

.Chart-Candidate
{
  width: calc(100%/3);
  display: table-cell;
  margin: 0;
  padding: 0;
}
.Customize-Logo
{
  height: 8rem;
  width: 8rem;
  text-align: center;
  padding: 0.5rem;
}
.Display-Chart-Blockchain-Coins
{
  font-size: 0.8rem;
  text-align: center;
}
.Display-Chart-Complex-Block
{
  display: table;
  text-align: center;
}
.Display-Chart-Allowance-Coins-01
{
  font-size: 0.8rem;
  display: table-cell;
  text-align: center;
}
.Display-Chart-Allowance-Coins-02
{
  font-size: 0.8rem;
  display: table-cell;
  text-align: center;
  color: greenyellow;
}
.Display-Chart-Expires-On
{
  font-size: 0.8rem;
  text-align: center;
}
.Display-Screen-Global-Div
{
  text-align: center;
}
.Enclose-Table
{
  display: table;
  text-align:right;

}
.ErrorPage-Header
{
  background-color: #cf1b1b;
  color: #900d0d;
  margin: 0.8rem;
  width: 25rem;
  font-family: monospace;

}
.FormAligner
{
  height: 5rem;
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  
}
.ErrorPage-Body
{
  color: #900d0d;
  margin: 0.8rem;
  font-family: 'Courier New', Courier, monospace;

}
.FooterAligner
{
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  bottom: 2%;
  position: absolute;
  width: 100%;
}
.FooterElement
{
  width: calc(100%/3);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  color: #1B4855;
  font-weight: 800;
}
.Footer03
{
  text-align: right;
}
.FullSizeContainer
{
  width: 100%;
  display: table;
}

.HeadingForm
{
  color: #1B4855;
  font-size: 4.5rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  vertical-align: middle;
  margin-top:16rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
}
.href-AnchorTag
{
  color: #fff;
  text-decoration: none;
}
.href-AnchorTag:hover
{
  color: #fff;
  text-decoration: none;
}
.My-Table-Details
{
  font-size: 1.5rem;
  padding: 0.25rem 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 10%;
  font-family: initial;
  font-weight: revert;
  color: #ffffff;
  background-color: black;
}
.My-Table-Details-01
{
  font-size: 1.5rem;
  padding: 0.25rem 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 20%;
  font-family: initial;
  font-weight: revert;
  color: #ffffff;
  background-color: black;
}
.My-Pretty-Table-Header
{
  background-color: #baf1a1;
  padding: 0.8% 3%;
  margin: 0 2%;
  font-size: 1.1rem;
  font-family: monospace;
  font-weight: 800;
  width: 30rem;
}
.Purchase-View
{
  text-align: center;
}

.Purchase-View-Heading
{
  margin: 2%;
  font-size: 2rem;
  font-family: Arial;
  color: #fff;
  font-weight: bold;
}
.Pretty-Table
{
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 80%;
}
.Pretty-Table-Header
{
  background-color: #E6E9F1;
  padding: 1% 3.5%;
  margin: 0 2%;
  font-size: 1.5rem;
  font-family: monospace;
  font-weight: 800;
  width: 30rem;
}
.Purchase-Reuqester
{
  margin: 1rem auto;
  display: table;
}
.Purchase-Reuester-Column
{
  display: table-cell;
  margin: 1rem;
  padding: 1rem;
}
.Purchase-Table-Body
{
  background-color: #fff;
  padding: 1% 1%;
  width: 30rem;
}
.Pretty-Table-Row
{
  background-color: #fff;
  padding: 1% 1%;
  width: 30rem;
  margin: 0.5rem 0;
  border-bottom: gray 1px solid;
}

.RoundButton
{
  border-radius: 50%;
  background-color: lightcyan;
  color: black;
  margin: 0 5%;
  display: table-cell;
  font-size: 1rem;
}

.Section-01-Header
{
  display: table-cell;
  width: calc(100%/6);
  padding: 0.5rem;
  text-align: center;
  background-color: #437E37;
  color: #fff;
  font-size: 1rem;

}

.Section-02-Header
{
  display: table-cell;
  width: calc(100%/1.5);
  background-color: #3796B1;
  font-size: 3rem;
  padding: 0.5rem;
  color: #fff;
  font-family: unset;
  text-align: center;

}
.Section-03-Header
{
  display: table-cell;
  width: calc(100%/6);
  background-color: #3796B1;
  font-size: 3rem;
  padding: 0.2rem;
  color: #fff;
  font-family: unset;

}

.Section-01-Internal-Content
{
  font-size: 1rem;
}
.Sub-Section-02-Header
{
  margin:2rem;
}

.Submit-Button
{
  margin-left: 4.5rem;
}
.Switch-Button-In-Display
{
  text-align: center;
  margin-top: 0.8rem;
  margin-left: auto;
  margin-right: auto;
}
.Table-Credit-Adder
{
  border: 1px solid;
  display: table;
}
.text-muted
{
  color: rgb(255, 0, 0)!important;
  font-size: 0.9rem;
  font-weight: 800;
  letter-spacing: 0.01rem;
 font-family: 'Courier New', Courier, monospace;
}

.UI-Button
{
  /*background-color: #3495B1;*/
  margin-top: 0.6rem;
  height: 3rem;
  width:15rem;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: transform .2s;
  background-color: #1B4855;
  color: #fff;
  font-size: 1.8rem;
  border-color: #fff;
}

.UI-Button:hover
{
  background-color: #BBDBE5;
  color: #000;
  transform: scale(1.1);
  border-color: #fff;
}

.UI-Aligner
{
  text-align: center!important;
}

.UI-Button-Click
{
  background-color: #3796B1!important;
  color: #fff!important;
  transition: transform .2s!important;
  border-color: #fff!important;
  margin-right: 0.5rem;

}

.UI-Button-Click:hover
{
  background-color: #BBDBE5!important;
  color: #000!important;
  transform: scale(1.1)!important;
  border-color: #fff!important;
}

.whiteSpace
{
  height: 2.2rem;
  /*background-color:#3896B1;*/
}
.WhiteCard
{
  height: 12rem;
  width:  25rem;
  /*background-color: #3896B1;*/
  border-top-right-radius: 2.6rem;
  border-bottom-left-radius: 2.6rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}